.inlineCode_cdb578,
.before_inlineCode_cdb578,
.after_inlineCode_cdb578 {
  background-color: var(--textarea-block-color);
}

.inlineCode_cdb578 {
  color: var(--textarea-block-text-color);
}

:root{
--textarea-block-color: rgba(20,22,26,1);
}
