@import url('https://raw.githubusercontent.com/hourfrozen/radiumproject/main/midnight.css');
.info_c5a741 .line_c5a741:last-child:after {
	content: 'Test';
	display: block;
}
.animatedContainer_fd6364 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.custom-profile-theme .container_e5a42d {
  background-color: none;
  background: none;
  border: none;
}

.container_e5a42d {
  background-color: none;
  background: none;
  border: none;
}
