@import url('https://raw.githubusercontent.com/hourfrozen/radiumproject/main/midnight.css');
#app-mount .info_c5a741
--rad-version: '1.0.5';
#app-mount {
	.info_c5a741 .line_c5a741:last-child:after {
		content: 'RadialStatus ' var(--rs-version);
		display: block;
	}

}
