.animatedContainer_fd6364 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chatContent_f087cb,
.membersWrap__5ca6b,
.container__7e23c,
.panels__58331,
.guilds__2b93a {
  border: 2px solid transparent;
  transition: border-color 0.3s;
}
.membersWrap__5ca6b {
  border-radius: 0 0 var(--roundness-xl) var(--roundness-xl);
}
.chatContent_f087cb::before,
.membersWrap__5ca6b::before {
  border: 2px solid transparent;
  box-sizing: border-box;
  border-bottom: none;
  left: -2px;
  width: calc(100% + 4px);
  transition: border-color 0.3s;
}
.chatContent_f087cb:hover, 
.chatContent_f087cb:hover::before,
.membersWrap__5ca6b:hover,
.membersWrap__5ca6b:hover::before,
.container__7e23c:hover,
.panels__58331:hover,
.guilds__2b93a:hover {
  border-color: var(--accent-3);
}
